<div class="header-content d-flex justify-space-between align-items">
    <div class="logo">
      <a class="nav-link" href="#home" routerLink="/"><img src="./assets/images/header/cs-logo.svg" alt="logo" /></a>
    </div>
  </div>
  
<div class="cs-page-not-found">
    <div class="cs-page-not-found-wrapper">
        <h1>Page Not Found </h1>
        <h2>Please try again or contact the administrator if the problem persist.</h2>
        <button mat-raised-button color="primary" type="button" (click)="backToHome()">
            Back to Home
        </button>
    </div>
</div>