<div class="cs-input-wrapper">
  <mat-label class="common-label">For</mat-label>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="configurations.for" placeholder="Please Enter For" />
  </mat-form-field>
</div>
<div class="cs-input-wrapper">
  <mat-label class="common-label">Name</mat-label>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="configurations.placeholder" placeholder="Please Enter placeholder" />
  </mat-form-field>
</div>
<div class="cs-input-wrapper">
  <mat-label class="common-label">Tool Tip</mat-label>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="configurations.toolTip" placeholder="Please Enter Tool Tip" />
  </mat-form-field>
</div>