<div class="d-flex justify-space-between align-items input-settings">
  <div>
    <span *ngIf="!data.isEdit">Create</span>
    <span *ngIf="data.isEdit">Edit</span>
    Collection
  </div>
  <img src="./assets/images/close-icon.svg" alt="close" (click)="onCancel()" />
</div>
<mat-dialog-content class="mat-typography cs-rules-popup">
  <form [formGroup]="collectionForm">
    <div>
      <div class="cs-input-wrapper">
        <mat-label class="common-label">Collection Name</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Please Enter Collection Name"
            formControlName="name"
            required
          />
        </mat-form-field>
        <span
          class="text-danger"
          *ngIf="
            (collectionFormControls.name.touched || submitted) &&
            collectionFormControls.name.errors?.required
          "
        >
          Name Is Required.
        </span>
      </div>
      <div class="cs-input-wrapper">
        <mat-label class="common-label">Collection Description</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Please Enter Collection Description"
            formControlName="description"
          />
        </mat-form-field>
        <span
          class="text-danger"
          *ngIf="
            (collectionFormControls.description.touched || submitted) &&
            collectionFormControls.description.errors?.required
          "
        >
          Description Is Required.
        </span>
      </div>
      <div class="cs-input-wrapper">
        <mat-label class="common-label">Font Family</mat-label>
        <mat-form-field appearance="outline">
          <mat-select
            placeholder="Please Enter Font Family"
            formControlName="fontFamily"
            required
          >
            <mat-option
              *ngFor="let font of fontFamily; let i = index"
              [value]="font.value"
              >{{ font.viewValue }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <span
          class="text-danger"
          *ngIf="
            (collectionFormControls.fontFamily.touched || submitted) &&
            collectionFormControls.fontFamily.errors?.required
          "
        >
          Font Family Is Required.
        </span>
      </div>
      <div class="cs-input-wrapper">
        <mat-label class="common-label">Background Color</mat-label>
        <mat-form-field appearance="outline">
          <mat-select
            placeholder="Please Enter Background Color"
            formControlName="backgroundColor"
            required
          >
            <mat-option
              *ngFor="let color of backgroundColor; let i = index"
              [value]="color.value"
              >{{ color.viewValue }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <span
          class="text-danger"
          *ngIf="
            (collectionFormControls.backgroundColor.touched || submitted) &&
            collectionFormControls.backgroundColor.errors?.required
          "
        >
          Background Color Is Required.
        </span>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="popup-btn">
  <button mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
  <button mat-button cdkFocusInitial color="primary" (click)="saveCollection()">
    Save
  </button>
</mat-dialog-actions>
