<div class="cs-preview-wrapper">
    <div class="input-settings d-flex justify-space-between align-items">
        Preview
        <img src="./assets/images/close-icon.svg" alt="close" [mat-dialog-close]="true" />
    </div>
    <mat-dialog-content class="mat-typography cs-rules-popup">
        <div class="property-drawer">
            <!-- <div class="header-top cs-form-name-stepper d-flex justify-space-between align-items">
                <h2></h2>
            </div> -->
            <ng-template componentHost></ng-template>
        </div>
    </mat-dialog-content>
</div>