<div [id]="componentId" class="form-element-wrapper-common">
<div class="d-flex align-items form-field-settings">
    <!-- <button (click)="openOptions()">Options</button>-->
    <img src="./assets/images/arrow-up.svg" (click)="moveUp()" alt="up" />
    <img src="./assets/images/arrow-down.svg" (click)="moveDown()" alt="down" />
    <img src="./assets/images/delete-icon.svg" (click)="deleteComponent()" alt="delete" />
    <img src="./assets/images/setting-grey-icon.svg" (click)="openOptions()" alt="setting" />
</div>
    <ng-template componentHost></ng-template>
</div>