.form-element-wrapper-common {
  .form-field-settings {
    justify-content: end;
    img {
      padding-left: 10px;
      cursor: pointer;
    }
  }
  .mat-grid-tile-content {
    display: block;
  }
}
