$cs-primary-color: #262626;
$cs-secondary-color: #832962;
$cs-tertiary-color: #7782B9;
$cs-white-color: #ffffff;
$cs-black-color: #000000;
$cs-athens-gray-color: #E8E8EC;
$cs-manatee-color: #97989e;
$cs-well-read-color: #b5323f;
$cs-haiti-color: #0e102d;
$cs-light-gray-color: #fefefe;
$cs-port-gore-color: #1B1944;
$cs-periwinkle-gray-color: #D7DBF0;
$cs-titan-white-color: #f4f4ff;
$cs-ebony-clay-color: #232242;
$cs-tuatara-color: #323130;
$cs-chicago-color: #605E5C;
$cs-silver-color: #C9C9C9;
$cs-fog-color: #dbdbff;
$cs-nevada-color: #5D707E;
$cs-cloud-burst-color: #282C62;
$cs-gallery-color: #eaeaea;
$cs-blue-lagoon-color: #007E8A;
$cs-alabaster-color: #f9f9f9;
$cs-wild-sand-color: #f4f4f4;
$cs-torch-red-color: #ff2121;
$cs-disco-color: #8F1D64;
$cs-mulled-wine: #464467;