$cs-font: 'Roboto', sans-serif;

$cs-font-weight-base: 400;
$cs-font-weight-medium: 500;
$cs-font-weight-bold: 700;

$cs-label-font: 0.75rem;
$cs-base-font: 0.875rem;
$cs-medium-font: 1rem;
$cs-large-font: 1.125rem;

$cs-1px: 0.06rem;
$cs-2px: 0.13rem;
$cs-3px: 0.19rem;
$cs-4px: 0.3rem;
$cs-5px: 0.3rem;
$cs-6px: 0.4rem;
$cs-8px: 0.5rem;
$cs-10px: 0.625rem;
$cs-11px: 0.688rem;
$cs-12px: 0.75rem;
$cs-14px: 0.875rem;
$cs-15px: 0.9375rem;
$cs-16px: 1rem;
$cs-18px: 1.125rem;
$cs-20px: 1.25rem;
$cs-22px: 1.375rem;
$cs-24px: 1.5rem;
$cs-25px: 1.5625rem;
$cs-26px: 1.625rem;
$cs-28px: 1.75rem;
$cs-30px: 1.875rem;
$cs-32px: 2rem;
