<div class="cs-input-wrapper" data-id ="{{id}}_field" [ngStyle]="visible == false ? {'display': 'none'}: {}">
  <mat-label *ngIf="!configurations.isLabelHide" class="common-label" [style.font-size]="styleConfiguration.fontSize">{{ configurations.label }}
  </mat-label>
  <mat-form-field class="text" [style.text-align]="styleConfiguration.alignText" [style.width]="styleConfiguration.width" appearance="outline">
    <input
      matInput
      name="{{ configurations.name }}"
      type="{{ configurations.inputType }}"
      placeholder="{{ configurations.placeholder }}"
      [ngStyle]="styleConfiguration"
      required="{{ configurations.required }}"
      disabled="{{configurations.disable}}"
      maxLength="{{configurations.maximumLength}}"
      minLength="{{configurations.minimumLength}}"
      matTooltip="{{ configurations.toolTip }}"
      [(ngModel)]="value"
      data-id ="{{id}}"
      [errorStateMatcher]="matcher"
      [matAutocomplete]="auto"
      [matAutocomplete]="auto"
      autocomplete="nope"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" [class]="'autoCompletePanel'">
      <mat-option *ngFor="let opt of autoOptions" [value]="opt" class="mat-auto-option-text">
        {{opt}}
      </mat-option>
    </mat-autocomplete>
    <mat-icon *ngIf="value && valid" class="tickMark">check</mat-icon>
    <mat-spinner *ngIf="isLoading" class="tickMark" [diameter]="20"></mat-spinner>
    <span *ngIf="configurations.required" class="text-danger text-danger-astrisk">*</span>
  </mat-form-field>
  <span *ngIf="error !== ''" class="text-danger"><strong>{{error}}</strong></span>
</div>
<!-- disabled="{{ configurations.disable }}" -->