* {
  box-sizing: border-box;
}
#form-builder {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}
#tools {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 30%;
}
#build-area {
  background-color: #e4ecf3;
  padding: 10px;
  flex: 70%;
}
#build-area #target {
  height: 600px;
  width: 100%;
}
