<h1>Form Builder</h1>
<div id="form-builder">
  <div id="tools">
    <mat-list>
      <mat-list-item *ngFor="let component of toolKitListModel.listToolKit">
        <div
          [id]="component.componentName"
          draggable="true"
          (dragstart)="dragstartHandler($event)"
        >
          <span>{{ component.componentDisplayName }}</span>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div id="build-area">
    <div
      id="target"
      (drop)="dropHandler($event)"
      (dragover)="dragoverHandler($event)"
    >
      <ng-template #formContainer></ng-template>
    </div>
  </div>
  <div>
    <input type="button" value="Save" (click)="save()" />
  </div>
</div>
