.create-form-card {
  justify-content: center;
  flex-direction: row;
  .mat-card-content {
    img {
      display: block;
      margin: 0 auto;
      width: 30px;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
}

.collection-list {
  text-transform: uppercase;
  margin-top: 30px;
}

.cs-user-collection-list {
  padding: 23px 30px;
  &.tab-common-wrapper {
    h4 {
      padding-left: 0;
    }
  }
}