<div class="left-component-wrapper">
  <div class="component-section">
    <h2>Layout</h2>
    <div *ngFor="let component of componentPalette.layoutComponents"
      class="d-flex align-items justify-space-between component-common" [id]="component.componentName" draggable="true"
      (dragstart)="dragstartHandler($event)">
      <div class="d-flex align-items">
        <img src={{component.src}} alt="container" />
        <h3>{{component.componentDisplayName}}</h3>
      </div>
    </div>
    <h2>Basic Elements</h2>
    <div *ngFor="let component of componentPalette.components"
      class="d-flex align-items justify-space-between component-common" [id]="component.componentName" draggable="true"
      (dragstart)="dragstartHandler($event)">
      <div class="d-flex align-items">
        <img src={{component.src}} alt="container" />
        <h3>{{component.componentDisplayName}}</h3>
      </div>
    </div>
    

    <!-- <div class="d-flex align-items justify-space-between component-common"> -->
      <!-- <div class="d-flex align-items">
        <img src="./assets/images/elements/short-text.svg" alt="container" />
        <h3>Short Text</h3>
      </div> -->
      <!-- <div class="d-flex">
        <img src="./assets/images/grey-plus-icon.svg" class="plus-icon" alt="plus-icon" />
        <img src="./assets/images/elements/drag.svg" alt="drag" />
      </div> -->
    <!-- </div> -->
    <!-- <div class="d-flex align-items justify-space-between component-common"> -->
      <!-- <div class="d-flex align-items">
        <img src="./assets/images/elements/long-text.svg" alt="container" />
        <h3>Long Text</h3>
      </div> -->
      <!-- <div class="d-flex">
        <img src="./assets/images/grey-plus-icon.svg" class="plus-icon" alt="plus-icon" />
        <img src="./assets/images/elements/drag.svg" alt="drag" />
      </div> -->
    <!-- </div> -->
  </div>
</div>